#halaman-index .container-body {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background: #beccda;
  width: 500px;
}

#halaman-index .h-nama {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 25px;
}

#halaman-index .box-nama {
  margin: 15px;
}

#halaman-index .box-img img {
  width: 40%;
}

#halaman-index .box-img {
  margin: 0px 20px 20px 20px;
}

#halaman-index .box-info {
  display: flex;
  flex-direction: row;
}

#halaman-index .box-info .isi {
  padding: 10px;
  font-size: 17px;
  text-transform: capitalize;
  border-bottom: 1px solid #778a9c;
  text-align: left;
  width: 50%;
}

#halaman-index .info {
  background: #7398bd;
  text-align: center;
  padding: 10px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: bold;
}

#halaman-index .box-info a {
  text-decoration: none;
  color: blue;
}

#halaman-index .box-info a:hover {
  text-decoration: underline;
}
